*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7)rgba(0,0,0,0.7)),url(images/download.webp);
   
    background-position:center;
    background-size: contain;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
   
    
}
.navbar{
    
    height: 12%;
    display: flex;
    align-items: center;

}
.icon{
    width:200px;
    float:left;
    height:70px
}
.logo{
   width: 240px;
   height: 40px;
    float:left;
    cursor: pointer;
    margin-right: 60px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left:40px;
    padding-top: 50px;

}
nav ul li a{
    text-decoration:none;
    
    font-size: 15px;
    font-weight: bold;
    
}
ul li a:hover{
    color: aqua;
}

.q{
    margin-left:40px ; 
    width:140px;
    height:40px;
    background-color: rgb(231, 73, 73);
    border: none;
    margin-bottom: 10px;
    margin-left: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.q a{
    text-decoration: none;
    color:white;
    transition: .3s ease;
}
.q a:hover{
    color: black;

}

.content{
    float:left;
    padding-left: 5px;
    padding-top: 150px;
    width:1200px;
    position:relative
    
    
   
}
.title h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    font-size: 25px;
    color:rgb(10, 192, 192)
}
.subtitle h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:50px ;
    margin-top:-1px;
    padding-top:15px;
    color: rgb(66, 64, 64);
    padding-left: 0%;
}

.para{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size:15px ;
    padding-bottom: 25px;
    padding-left: 5px;
    letter-spacing: 1.5;
    line-height: 30px;
    color:rgb(141, 137, 137);
    
    
}

.cn{
    width:150px;
    height:40px;
    background-color: rgb(226, 83, 83);
    
    border-style: solid;
    border-color: rgb(230, 54, 54);
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 20px;
    cursor: pointer;
    
}
.cn a{
    text-decoration: none;
    color:white;
    
    

   
}

.cn a:hover{
    color:rgb(49, 9, 9);
}

.cn2{
    width:150px;
    height:40px;
    background-color: white;
   
    border-color: rgb(71, 207, 200);
    border-style: solid;
    
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.cn2 a{
    text-decoration: none;
    color:rgb(10, 10, 10);
    
   
    

}
.cn2 a:hover{
    color:rgb(60, 199, 173);
    font-size: 100%;
}


.container2{
    padding-top: 10%;
}
.subcontent{
 position: relative;
   float:left;
   padding-bottom: 100%;
   padding-top: 60%;
   padding-left: 0%;  
}

.head{
    font-family: 'Kanit', sans-serif;
    font-size: 45px;
    font-weight: 400;
    color:rgb(66, 62, 62);
    font-style: normal;
    padding-left: 0%;
    float:left
}
.image{
    float:right;
    height:500px;
    width:500px;
    padding-left:100%;
    position:relative;
    
    top: -88px;
   
    
}
.para2{
    position: relative;
    top: -463px;
    padding-left: 0%;
    margin-top: 44px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 200;
    line-height: 2.25;
    font-weight: bold;
    color:rgb(141, 137, 137);
    letter-spacing: 2;
    
}


.subcontainer{
    margin:-7%;
    height: 100%;
    width: 100%;
    display: block;
    justify-items: right;
    background-color: rgb(231, 252, 255);
    padding-top: 5%;
    position: absolute;
    top:270%;
    padding-bottom: 10%;
    
    padding-left: 0%;
    

}  
    
.img{
    height: 500px;
    width: 700px;
    position: relative;
    top:-4%;
    float:left

}

.heading{
    font-size: 50px;
    float: left;


}
.para3{
    
    padding-left: 40%;
    padding-top: 8%;
    font-size: 15px;
    font-weight: 200;
    line-height: 2.25;
    font-weight: bold;
    color:rgb(141, 137, 137);
    letter-spacing: 2;
    
}

h2{
    font-size: 18px;
    font-style:normal;
    padding-top: 1%;
    padding-left: 55%;
    
}
p{
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1.6;
    color: rgb(151, 147, 147);
    padding-left: 55%;
    padding-top: -1%;
    position: relative;
    top: -3%;
}

h3{
    font-size: 18px;
    font-style:normal;
    padding-top: 1%;
    padding-left: 55%;
    
}

p2{
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1.6;
    color: rgb(151, 147, 147);
    padding-left: 55%;
    padding-top: -1%;
    position: relative;
    top: -12%;
    float: left;
}
h4{
    font-size: 18px;
    font-style:normal;
    padding-top: 1%;
    padding-left: 55%;
    position: relative;
    bottom: -9%;

}

p3{
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 1.6;
    color: rgb(151, 147, 147);
    padding-left: 55%;
    padding-top: 1%;
    position: relative;
    top: -6%;
    float: left;

}

.services{
    height: 500px;
    
   margin-top: 12%;
    padding-top: 91px;
    padding-bottom: 25px
}

.section{
    

    height: 100%;
    padding-top:400px;
    margin: 20px;
    margin-top: 0%;
   

    
  
}
.heading2{
    
    text-align: center;
    padding-left: 50px;
    margin-top:-25%;
    margin-left: 0%;
    font-size: 49px;
    color: rgb(66, 59, 59);
}

.section1{
    
    height:300px;
    width:300px;
    margin-top:-700px;
    margin-left: 100px;
    float:left;
   
    
    
    
}
.section2{
    
    height:300px;
    width:300px;
    margin-top: -700px;
    margin-left: 500px;
    float:left
}
.section3{
    
    height:300px;
    width:300px;
    margin-top: -700px;
    margin-left: 900px;
    float:left
}


.icon4{
    height:40px;
    width:40px;
    margin-left: 40%;
}
    


.icon5{
    height:40px;
    width: 40px;
    margin-left: 40%;
}

.icon6{
    height:40px;
    width:40px;
    margin-left: 40%;
}
.sectiontitle{
    height:40px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(88, 75, 75);
    margin-left: 17%;
    margin-top: 10%;
}
.section_content{
    margin-left:-90%;
    letter-spacing:1.5px;
}
 
   
    



